/* ////////////// */
/*    Main      */
/* ////////////// */
#Main{
  background-color: #edf6f9;
  color: #e29578;
  margin: 0;
}
h1 {
  color: #83c5be;
}
/* ////////////// */
/*    Banner      */
/* ////////////// */
#Banner {
  height: 50vh;
  text-transform: uppercase;
  text-align: center;
  font-size: 80px;
}
#Banner h1 {
text-shadow: #ffffff 1px 1px 1px 1px;
}
/* ////////////// */
/*      Home      */
/* ////////////// */

#Home {

}
#Home h1, #Home h2, #Home p {
  text-align: center;
}
/* ////////////// */
/*      Nav       */
/* ////////////// */
#Nav {
  height: 50px;
  border: 2px solid #006D77;
  background-color: #ffddd2;
}
#Nav ul {
  /* notate in tutorial */
  display: flex;
  justify-content: space-evenly;
}
#Nav li {
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #006D77;
}